[run]
source = .
omit =
    tests/*
    ui.py
    gui_webview.py
    app_tray.py
    main.py
    build/*
    dist/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
show_missing = true
